{% extends 'base.html' %}
{% load static %}
{% block 'titulo' %} Meu site {% endblock %}

{% block 'head' %}

<linK rel="stylesheet" href="{% static 'css/css.css' %}">

{% endblock %}

{% block 'conteudo' %}

<form method="POST" action="{% url 'cadastro' %}"> {% csrf_token %} 

    <input type="text" placeholder="Nome..." name='nome'>
    <input type="email" placeholder="Email..." name='email'>
    <input type="password" placeholder="Senha..." name='senha'> 
    <input type="submit">
</form>

{% endblock %}