.titulo{
    color: red;
}

#bordas{
    border-color:green blue red yellow;
    border-width: 2px 10px 1px 15px;
    border-style: solid dotted dashed outset; 
    background-color: rgba(255, 255, 0, 0.5);
    background-image: url(../img/Nike-Logo.png);
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: center;

    margin-top: 20px;
    margin-left: 20px;

}

body{
    background-color: violet;
}

#margin{
    margin-top: 200px;
}

.titulo{
    border: 1px solid black;
    padding: 60px;
    margin: 60px;;
}

.btn{
    padding: 10px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    background-color: chartreuse;
    color: wheat;
    border-radius: 10px;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: black;
}

#divisao{
    border: 1px solid red;
}

.conteudo{
    background-color: green;
    width: 40%;
    height: 200px;
    border: 1px solid black;
    float: left;
    margin-left: 5%;
    padding: 10px;
    overflow: hidden;
    transition: 0.5s;
}

.conteudo:hover{
    background-color: red;
    width: 45%;
    height: 300px;
}

.btn{
    transition: 1s;
}

.btn:hover{
    background-color: rgb(98, 185, 235);
    font-size: 25px;
    
}

@media(max-width: 1200px){
    .conteudo{
        float: nome;
        width: 90%;
        margin-left: 0px;
        margin-top: 2%;
    }

}